
@media screen and (min-width: 1540px) {
    #sidebar .toggle {
        display: none;
    }
    #sidebar {
        position: relative;
    }
}

@media screen and (max-width: 1440px) {
    #sidebar {
        position: absolute;
    }
}


@media screen and (max-width: 769px) {

    #header {
        padding-top: 0.5em;
        overflow: hidden;
    }
    #main > .inner {
        padding: 10px;
    }
    #header .logo {
        font-size: 1.25em;
        margin: 0;
    }

    #header .icons {
        height: 5em;
        line-height: 5em;
        position: absolute;
        right: -0.5em;
        top: 0;
    }
    #header img {
        display: block;
        height: 100%;
        width: auto;
    }
    .news-article {
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        max-width: 370px;
        min-width: 290px;
        padding:  0;
        position: relative;
        overflow: hidden;
    }
    .footer-block {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-block:last-child {
        padding: 20px;
    }
    .footer-map-contact {
        position: static;
        bottom: 0;
        right: 50px;
        width: 100%;
        max-width: 510px;
        min-height: 166px;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    .map-contact-header {
        width: 100%;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(32, 32, 35);
        font-weight: bold;
        line-height: 1.444;
        text-align: left;
    }
    .fit-back-person-slide-box {
        overflow: hidden;
        width: 100%;
        max-width: 560px;
        max-height: 210px;
    }
    #sidebar .toggle {
        left: 17em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    #sidebar.inactive .toggle {
        left: 24em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .about-us-block {
        width: 100%;
        position: relative;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .about-us-block:last-child {
        height: 220px;
    }
    .proizvodstvo-article {
        width: 100%;
        margin-bottom: 10px;
    }
    .service-container-block {
        width: 100%;
        position: relative;
    }
    .service-container-block article {
        width: 100%;
        min-width: 300px;
    }
    .sale-block_input-name {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sale-block_input-submit {
        margin-bottom: 32px;
    }
    .person-block-img {
        min-width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        width: 40%;
    }
    .person-block-text {
        padding-right: 50px;
        padding-left: 12px;
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(172, 172, 178);
        width: 60%;
    }
    .partners-container {
        width: 93%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding-top: 40px;
    }
    .partners-article.active {
        position: static;
        background-color: #ffffff;
        width: 311px; */
        height: 429px;
        font-size: 15px;
        -webkit-box-shadow: 0px 25px 50px 0px rgba(233, 233, 241, 0.33);
        -moz-box-shadow: 0px 25px 50px 0px rgba(233, 233, 241, 0.33);
        box-shadow: 0px 25px 50px 0px rgba(233, 233, 241, 0.33);
        webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        z-index: 1;
    }
    .price-article {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .service-container-block-assort {
        display: none;
    }
    .service-container-block-assort760 {
        display: block;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.625;
    }
    .service-container-block-assort760  p {
        width: 241px;
    }
    .service-container-block article  {
        min-height: 222px;
    }
    .partners-container {
        display: none;
    }
    .partners-container.partners-container-mobail {
        display: block;
    }
    .partners-article-button {
        color: #fff;
        background-color: rgb(255, 97, 75);
        width: 200px;
        height: 50px;
        cursor: pointer;
    }
    .partners-article {
        width: 100%;
    }
}


@media screen and (max-width: 375px) {
    #main > .inner > section {
        padding-left: 0;
        padding-right: 0;
    }
    #header .header-img-full {
        display: none;
    }
    #header .header-img-375 {
        display: block;
        width: 100%;
    }
    #header .header-title-slogan img {
        width: 90%;
    }
    .proizvodstvo-buttons-container {
        flex-wrap: wrap;
    }
    .catalog-article {
        width: 100%;
        max-width: 375px;
        min-width: 283px;
        padding: 10px;
        padding-bottom: 40px;
        margin-bottom: 20px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
    }
    .learn-more {
        margin-left: 0;
        margin-top: 25px;
    }
    .catalog-article-img img {
        width: 100%;
    }
    .price-category-link {
        width: 100%;
    }
    .catalog-article-content-sum {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 97, 75);
        position: absolute;
        left: 177px;
        top: 251px;
        width: 140px;
        height: 32px;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }
    .fit-back-person-slide-box {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        max-height: 312px;
    }
    .person-block-text {
        padding-right: 20px;
        padding-left: 12px;
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(172, 172, 178);
        width: 100%;
    }
    .fit-back-header {
        padding-left: 20px;
    }
    .get-sale-block .about-us-h3 {
        padding-left: 20px;
    }
    .sale-block_input-name {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .fit-back-catalog {
        display: none;
    }
    .order-name[type="text"], .order-tel[type="tel"] {
        width: 240px;
        display: inline-block;
        margin-top: 15px;
    }
    .price-article {
        width: 100%;
        max-width: 509px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .price-article-img {
        display: block;
        width: 100%;
    }
    .price-article-img img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .price-article-content {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
    }
    .fit-back-person-block {
        flex-wrap: wrap;
        max-width: 100%;
    }
    .service-container-block article  {
        min-height: 222px;
    }
    .fit-back-block {
        max-width: 100%;
    }
    .news-date {
        padding-left: 15px;
    }
    .news-content {
        padding-left: 15px;
    }
}

@media screen and (max-width: 320px) {
    #main > .inner > section {
        padding-left: 0;
        padding-right: 0;
    }
    .catalog-article {
        width: 100%;
        max-width: 375px;
        min-width: 283px;
        padding: 0px;
        padding-bottom: 40px;
        margin-bottom: 20px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .catalog-article-img img {
        width: 100%;
    }
    #main > .inner {
        padding: 0;
    }
    .about-us-h3 {
        font-size: 27px;
    }
}